.h{
    background-color: red;
    color: aliceblue;
}
#n{
    background-color: goldenrod;
    color: white;
}
.r{
    background-color: cadetblue;

}

.x{
    background-color: blue;
    color: white;
}